.Logo {
    width:100px;  
    margin:auto;  
   
}
/* .Logo-Tamanio{
        height:0px;
        width:100%;
        padding-top:15%;
        position:relative;
       
} */
/* .Logo img{
    position:absolute;
    height:110%;
    width:20%;
    top:0px;
    left:0px;

} */

